<nav class="navbar">
  <a class="voltar" (click)="voltarParaInicio()">
    <i class="fas fa-arrow-left"></i>
    Voltar para Início
  </a>

  <h1>Gestão de Investimentos Públicos</h1>

  <div class="nav-links">
    <a (click)="navegarParaGraficos()">
      <i class="fas fa-chart-line"></i>
      Gráficos
    </a>

    <a (click)="navegarParaCategorias()">
      <i class="fas fa-tags"></i>
      Categorias
    </a>

    <a (click)="navegarParaInvestimentos()">
      <i class="fas fa-money-bill-wave"></i>
      Investimentos
    </a>
  </div>
</nav>
