/* Definição global da cor primária para laranja */
:root {
  --bs-primary: #ef6c00;
  --bs-primary-rgb: 239, 108, 0;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #d65a00;
  border-color: #d65a00;
  color: white;
}
